global
    log /dev/log local0 info
    log /dev/log local1 notice
    pidfile /var/run/haproxy.pid
    maxconn 2000
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect 60
    timeout client  60
    timeout server  60

listen appname
    bind :80
    mode http
    balance roundrobin
    option httpclose
    option forwardfor
    {{range getvs "/clusterstate/cruwe_de/*"}}
    server {{.}} check
    {{end}}
